# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.DS_STORE

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Secrets
*.pem

# Test files
*.mp4
*.mov
*.mp3
*.txt

Peer2/*
PeerTest/*
testFiles/*